button {
    width: 69px;
    height: 69px;
    cursor: pointer;
    font-size: 26px;
    font-weight: 500;
}


.operator{
    color: orange;
}

.utility {
    color: darkblue;
}

.utility span {
    font-size: 26px;
}