button {
    width: 69px;
    height: 69px;
    cursor: pointer;
    font-size: 26px;
    font-weight: 500;
}


.operator{
    color: #ea7576;
}

.utility {
    color: #58868d;
}

.utility span {
    font-size: 26px;
}