button {
    width: 69px;
    height: 69px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    color: #4A0E18;
}


button.operator{
    background-color: #E07A88;
    color: white;
}


.utility {
    background-color: #FADADD;
    color: #800020;
}

.utility span {
    font-size: 26px;
}

.number{
    background-color: #F3C5C5;
}

.equal{
    background: #FFDB67;
    color: white;
    background: linear-gradient(0deg, rgba(153, 0, 51, 1) 0%, rgba(227, 66, 85, 1) 100%);
}
