.buttons-box {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 30px;
    background-color: #ffffdd;
    border-top: solid 3px #000;
}