.buttons-box {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: #FFF5F7;
    border-top: solid 3px #4A0E18;
    margin-top: 30px;
}

.buttons-box .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    flex: 1 1 auto;
    padding-top: 0!important;
}