.displays {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.displays > div {
    width: auto;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}