.header-box {
    width: 100%;
    display: flex;
    margin-bottom: 3px;
    justify-content: space-between;
    align-items: flex-end;
}

.header-box button {
    background-color: transparent;
    width: min-content;
    height: min-content;
}

.header-box .material-symbols-outlined {
   font-size: 30px;
}