.history-display {
    display: flex;
    flex-direction: column-reverse;
    height: 0;
    overflow-y: auto;
    padding: 0!important;
    transition: height 200ms ease-in-out;
    scrollbar-width: thin;
    scrollbar-color: #E07A88 transparent;


    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #E07A88;
        border-radius: 10px;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #4a148c;
    }
}

.history-display.show-history {
    height: 10%;
}

.history-box{
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 15px;
    min-height: 100%;
}

.history-box .inpt-dis-history{
    font-size: 18px;
}

.history-box .out-dis-history{
    font-size: 25px;
}
