.history-display {
    height: 0;
    overflow: hidden;
    transition: height 200ms ease-in-out;
    padding: 0 10px 0 10px!important;
}

.history-display.show-history {
    height: 13%;
}

.history-items{
    padding: 10px 10px 10px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #E07A88 transparent;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
    background-color: #E07A88;
    border-radius: 10px;
    border: 2px solid transparent;
}

    &::-webkit-scrollbar-thumb:hover {
        background-color: #4a148c;
    }
}

.empty-history {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cover{
    width: 100%;
    gap: 15px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.history-box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.history-box .inpt-dis-history{
    font-size: 2.7vh
}

.history-box .out-dis-history{
    font-size: 4vh;
}