.history-display {
    height: 0;
    overflow: hidden;
    padding: 0!important;
    transition: height 200ms ease-in-out;

}

.history-display.show-history {
    height: 10%;
}

.history-items{
    padding-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #E07A88 transparent;

    &::-webkit-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
    background-color: #E07A88;
    border-radius: 10px;
    border: 2px solid transparent;
}

    &::-webkit-scrollbar-thumb:hover {
        background-color: #4a148c;
    }
}

.empty-history {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cover{
    width: 100%;
    gap: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.history-box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}
.history-box .inpt-dis-history{
    font-size: 18px;
}

.history-box .out-dis-history{
    font-size: 25px;
}