.wrapper {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 2;
    height: 80vh;
    padding-top: 10px;
    background-color: rgb(255, 240, 242);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
}

.wrapper > div {
    padding: 15px;
}