.wrapper {
    width: 336px;
    padding-top: 50px;
    background-color: rgb(255, 240, 242);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 15px rgba(0, 0, 0, 0.2);
}

.wrapper > div {
    padding: 15px;
}