@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Display', sans-serif;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

button {
    background-color: #fff;
    border: none;
}

@media (max-width: 480px){
    body{
        overflow-y: scroll;
    }
}
